.repositoryPage {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;

  &-repoInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-name,
  &-owner {
    white-space: nowrap;
  }
  &-repoStats {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &-ownerInfo {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &-avatar {
    display: flex;
  }
  &-avatarImage,
  &-avatarIcon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  &-owner {
    color: #4493f8;
    &:hover {
      text-decoration: underline;
    }
  }

  &-main {
    display: flex;
    gap: 32px;
  }

  &-description {
    flex: 1 1 auto;
  }
  &-descriptionTitle,
  &-languagesTitle {
    margin-bottom: 8px;
    font-size: 16px;
  }
  &-descriptionEmpty {
    color: #8d96a0;
    font-style: italic;
    font-size: 16px;
  }

  &-descriptionContent {
    font-size: 16px;
  }
  &-languages {
    width: 200px;
  }

  &-languagesList {
    display: flex;
    gap: 4px 12px;
    flex-wrap: wrap;
  }
  &-language {
    white-space: nowrap;
    font-size: 14px;
  }

  &-extraLanguages {
    color: #8d96a0;
    font-style: italic;
    font-size: 14px;
  }
}
