.repositoryPage {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 12px;
  min-height: 100dvh;

  &_hasError {
    align-items: center;
    justify-content: center;
  }

  &-error {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    max-width: 250px;
  }

  &-errorImage {
    height: 100px;
    width: 100px;
  }

  &-errorMessage {
    text-wrap: balance;
    text-align: center;
  }

  &-repoInfo {
    display: flex;
    align-items: center;
    row-gap: 4px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-name {
    font-size: 24px;
  }
  &-name,
  &-owner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-repoStats {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &-ownerInfo {
    margin-top: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &-avatar {
    display: flex;
  }
  &-avatarImage,
  &-avatarIcon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  &-avatarIcon {
    color: #8d96a0;
  }
  &-main {
    margin-top: 16px;
    display: flex;
    gap: 32px;

    @media screen and (max-width: 576px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  &-description {
    flex: 1 1 auto;
  }
  &-descriptionTitle,
  &-languagesTitle {
    margin-bottom: 8px;
    font-size: 16px;
  }
  &-descriptionEmpty {
    color: #8d96a0;
    font-style: italic;
    font-size: 16px;
  }

  &-descriptionContent {
    font-size: 16px;
  }
  &-languages {
    width: 200px;
    flex: 0 0 auto;
    @media screen and (max-width: 576px) {
      width: auto;
    }
  }

  &-languagesList {
    display: flex;
    gap: 4px 12px;
    flex-wrap: wrap;
  }
  &-language {
    white-space: nowrap;
    font-size: 14px;
  }

  &-extraLanguages {
    color: #8d96a0;
    font-style: italic;
    font-size: 14px;
  }
}
