.pagination {
  display: flex;
  gap: 4px;
  padding: 4px;
  align-items: center;

  &-tag {
    height: 28px;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    padding: 0 8px;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: hsla(0, 0%, 0%, 0.089);
      }
    }

    &:active {
      background-color: hsla(0, 0%, 0%, 0.089);
    }

    &_selected {
      background-color: hsla(0, 0%, 0%, 0.185);

      @media (hover: hover) {
        &:hover {
          background-color: hsla(0, 0%, 0%, 0.185);
        }
      }

      &:active {
        background-color: hsla(0, 0%, 0%, 0.185);
      }
    }
  }

  &-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
  }

  &-button {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 1000px;
    padding: 4px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
    @media (hover: hover) {
      &:hover {
        background-color: hsla(0, 0%, 0%, 0.089);
      }
    }

    &:active {
      background-color: hsla(0, 0%, 0%, 0.089);
    }

    &_disabled {
      cursor: initial;
      color: rgb(172, 172, 172);
      &:hover,
      &:active {
        background-color: transparent;
      }
    }
  }
}
