.search {
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  height: 40px;
  align-items: center;
  display: flex;
  padding: 4px 16px;
  gap: 8px;
  &_focus {
    outline: 1px solid rgb(33, 111, 255);
  }

  &-icon {
    width: 18px;
    flex: 0 0 auto;
    height: 18px;
    color: hsla(0, 0%, 0%, 0.8);
  }
  &-control {
    height: 100%;
    flex: 1 1 auto;
    color: hsla(0, 0%, 0%, 0.8);
    outline: none;
  }
}
