.repositoryList {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  gap: 12px;
  flex-direction: column;

  &_empty {
    align-items: center;
    justify-content: center;
  }

  &-emptyMessage {
    text-align: center;
    text-wrap: balance;
  }
}
